p{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.top{
	line-height: 30px;
	font-size:13px;
	color: #868686;
}
.top .call{
	float: left;
	padding-left: 20px;
	background:url(../img/icon-call.png) no-repeat center left;
}
.top .welcome{
	float: right;
}
.top a{
	color: #2da5e1;
	padding-left: 10px;
}
/*#header模块内样式*/
.header .logo{
	width: 402px;
	height: 74px;
	padding: 9px 0;
	display: inline-block;
}
.header .logo img{
	width: 100%;
	height: 100%;
}
.header .search{
	width: 326px;
	height: 38px;
	position: absolute;
	right: 0;
	top: 29px;
	background-color: orange;
}